body {
  max-width: 830px;
}
#tournamentId {
  width: 480px;
}
.responsive--3cols > .responsive-cell-label {
  width: 12%;
}
.responsive--3cols > .responsive-cell-value {
  width: 62%;
}
.responsive--3cols > .responsive-cell-button {
  width: 26%;
}
.responsive--3cols > .responsive-cell-label-footer {
  width: 15%;
}
.responsive--3cols > .responsive-cell-value-footer {
  width: 7%;
}
.responsive--3cols > .responsive-cell-value-after-footer {
  width: 78%;
}
input[type=number] {
  width: 40px;
}