body {
  background-color: white;
  border: double 3px #DDD;
  border-bottom: none;
  border-top: none;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  /*font-size: 1.2em;*/
  margin: 0 auto;
  max-width: 700px;
  min-height: 100%;
  padding: 1em;
}
.link {
  font-size: .9em;
  text-decoration: none;
}
.linkText {
  vertical-align: super;
}
@media all and (max-width: 1100px) {
  body {
    max-width: unset;
  }
}
@media all and (max-width: 600px) {
  body {
    max-width: unset;
  }
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    text-align: right !important;
  }
}